html {
    margin-top: 0px;
}

body {
    background-color: #008B8B;
    font-family: Verdana;
    margin: 0;
}

#intro {
    background-image: url("IMG/EmBay.jpg");
    height: 980px;
}

#intro .title {
    color: black;
    font-size: 90px;
    text-align:center;
}

#intro .welcome {
    color: white;
    text-align:center;
    width: 550px;
    border: 3px solid white;
    margin-top: 0px;
    margin: 0 auto;
}

.links {
    text-align: center;
}

.links a{
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

#about {
    text-align: center;
}

#about .about-title {
    color: ivory;
    font-size: 30px;
}

#about .about-content {
    color: ivory;
    width: 550px;
    margin: 0 auto;
}

#about .about-content2 {
    color: ivory;
    width: 550px;
    margin: 20px auto;
}

#my-work {
    color: darkslategrey;
    text-align: center;
}

#my-work .work {
    font-size: 30px;
}

#my-work .description {
    font-weight: bold;
}

h3 {
    color:darkslategrey;
}

.content {
    font-weight: bold;
    width: 550px;
    margin: 20px auto;
}